Name of blog-{{blog.blogName}}<br>
content of blog:-{{blog.blogContent}}<br>
<p>blog details of approved blogs</p>
{{blog.likes}} likes
<a><span class="glyphicon glyphicon-thumbs-up" ng-class="isLiked?'liked':'default'" ng-click="updateLikes()"></span></a>


<!--

<br><b>comments</b>
<ul>
<li  ng-repeat="blogcomment in blogcomments">
{{blogcomment.blogComment}}
<strong>By </strong>{{blogcomment.commentedBy.userName}}
<strong>On </strong>{{blogcomment.commentDate|date:'medium'}}
</li>
</ul>
-->

<!--new format   background-color: green;
 -->
<div class="col-md-9"  >

<link href="Css/commentcss.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
	<div class="row">
	<!-- Contenedor Principal -->
    <div class="comments-container">
		<h1>Comments </h1>

		<ul id="comments-list" class="comments-list">
			<li ng-repeat="blogcomment in blogcomments">
				<div class="comment-main-level">
					<!-- Avatar -->
					<div class="comment-avatar"><img ng-src="http://localhost/CollaborationMiddle/getprofilepic/{{blogcomment.commentedBy.userName}}" alt=""></div>
					<!-- Contenedor del Comentario -->
					<div class="comment-box">
						<div class="comment-head">
							<h6 class="comment-name">{{blogcomment.commentedBy.userName}}</h6>
							<span> at {{blogcomment.commentDate|date:'medium'}}</span>
							<i class="fa fa-heart"></i>
						</div>
						<div class="comment-content">
							{{blogcomment.blogComment}}
						</div>
					</div>
				</div>
				<!-- Respuestas de los comentarios -->
				
			</li>

			
		</ul>
	</div>
	</div>
</div>



<div>
<textarea rows="3" cols="40" ng-model="blogcomment.blogComment"></textarea>
<button type="submit"class="btn btn-primary"  ng-click="addComment()">Post Comment</button>
</div>