

  
<div   class="page-header">
<h1 align='center'>Edit User Profile</h1>

</div>
<div class="container">
	<div class="row">
        <div class="col-md-8">
            <form>
            <fieldset style="border: thin solid #ccc;   border-radius: 4px;  padding: 20px;  padding-left: 40px;  background: #fbfbfb;">
			
			
			<div class="form-group">
                <label for="username">User name:  <small>This will be your login user name</small> </label> 
                    <input class="form-control" type="text" name="username"  ng-model="user.userName"  placeholder="minimum 6 letters" required />  
                        <div id="errLast"></div>
            </div>
			
           

            <div class="form-group"> 	 
                <label for="firstname"> First name: </label>
                    <input class="form-control" type="text" name="firstname" ng-model="user.firstName"  required /> 
                        <div id="errFirst"></div>    
            </div>

            <div class="form-group">
                <label for="lastname"> Last name: </label> 
                    <input class="form-control" type="text" name="lastname"ng-model="user.lastName"  placeholder="hyphen or single quote OK" required />  
                        <div id="errLast"></div>
            </div>

            <div class="form-group">
                <label for="email"> Email Address: </label> 
                    <input class="form-control" required type="text" name="email" ng-model="user.emailId" required  />   
                        <div class="status" id="status"></div>
            </div>
			
			<div class="form-group">
                <label for="username">Role:  </label> <br>
					<input type="radio"  value="Student" ng-model="user.role" checked> Student<br>
					<input type="radio"  value="Employee" ng-model="user.role"> Employee<br>
					<input type="radio"  value="Alumini" ng-model="user.role"> Alumini   
                    
            </div>

           

            <div class="form-group">
                <label for="password"> Password: </label>
                    <input required name="password" type="password" class="form-control inputpass" minlength="4" maxlength="16"  ng-model="user.password" /> </p>

                
            </div>

           

            <div class="form-group">
                <input class="btn btn-success" type="submit" name="submit_reg" ng-click="updateUser()" value="Update an account">
            </div>
                      
                      <h5>Be sure to check your details once before updating !!! </h5>
 

            </fieldset>
            </form><!-- ends register form -->


        </div><!-- ends col-6 -->
   
            

	</div>
</div>
