<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">

<title>login</title>
</head>
<body>

<div class="container">
<div class="row">
<div class="col-sm-8">
<h1 ><i class="fa fa-handshake-o" aria-hidden="true"></i> Digital Collaboration Platform</h1>
        <fieldset style="border: thin solid #ccc;   border-radius: 4px;  padding: 20px;  padding-left: 40px;  background: #fbfbfb;">
        <p>
          Collaboration is a all-in-one open-source digital collaboration platform that provides knowledge, document and content management, social engagement, and project collaboration tools integrated into your business’s applications.
        </p>
		<i class="fa fa-hashtag" aria-hidden="true"></i> Give exposure to your thoughts.<br><br>
		<i class="fa fa-hashtag" aria-hidden="true"></i> Create your own Blogs & Forums.<br><br>
		<i class="fa fa-cog" aria-hidden="true"></i> Make friends from all across the world.<br><br>
		<i class="fa fa-comments" aria-hidden="true"></i> Team Messaging.<br><br>
      </fieldset>
</div>

<div class="col-sm-4">
<div>
           
        <h1 align='center'>Sign in </h1>

		   <form>
            <fieldset style="border: thin solid #ccc;   border-radius: 4px;  padding: 20px;  padding-left: 40px;  background: #fbfbfb;">
            <div class="form-group">
                 User name:  
                    <input class="form-control" type="text" name="username" ng-model="user.userName"  placeholder="your User Name" required />  
                        <div id="errLast"></div>
						 <small>This will be your login user name</small> 
            </div>

            <div class="form-group">
                Password: 
                    <input ng-model="user.password" type="password" class="form-control inputpass" minlength="4" maxlength="16"   /> </p>

            </div>

            <div class="form-group last">
                <input class="btn btn-success" type="submit"  ng-click="login()" value="Sign in ">
	<!-- -	<button type="reset" ng-click="reset()" class="btn btn-default btn-sm">Reset</button>      -->
            </div>
                      
 

            </fieldset>
            </form><!-- ends register form -->


        </div>

</div>

</div>

</div>
</body>
</html>